  <meta charset="UTF-8">

<html> <head>   <title>e-oropos </title> <style>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</style>



		<!-- Start VisualLightBox.com HEAD section -->

		<!link rel="stylesheet" href="diveder_files/vlb_files0/vlightbox0.css" type="text/css" />

		<!link rel="stylesheet" href="diveder_files/vlb_files0/visuallightbox.css" type="text/css" media="screen" />
<!script src="diveder_files/vlb_engine/jquery.min.js" type="text/javascript"><!/script>

		<!script src="diveder_files/vlb_engine/visuallightbox.js" type="text/javascript"><!/script>

		<!-- End VisualLightBox.com HEAD section -->

</head> <body>  <div class="container">

    <div
class="toppane"> <img  align="left" src="{{ url_for('static', filename='images/oroposlogo.jpg') }}" width="200" height="100"><h1>ΔΗΜΟΣ ΩΡΩΠΟΥ / e-services
<br>        Γραφείο Κίνησης - ΥΠΗΡΕΣΙΑ</h1>

</div>


    <div class="leftpane">
    <h1>Συνδέσεις </h1>
        <h2>Γραφείου Κίνησης - Διοίκηση</h2>
</br>
    <form action="http://46.227.62.47/grkinisypiresia">
    <input type="image" src="{{ url_for('static', filename='images/grkinisis.jpg') }}" style="width: 150px;"/>
    <br></form>
    <form action="http://oropos.gov.gr/">
    <input type="image" src="{{ url_for('static', filename='images/oroposlogo.jpg') }}" style="width: 150px;"/>
    <br></form>
 <form action="http://46.227.62.47/">
    <input type="image" src="{{ url_for('static', filename='images/vlaves.jpg') }}" style="width: 150px;"/><br/>
     <a href="http://46.227.62.47/" style="font-size:20px; font-weight:600;">ΒΛΑΒΕΣ ΔΗΜΟΥ ΩΡΩΠΟΥ</a>
    <br></form>
        <br>
</form>
</body>

</div>

    <div class="middlepane">
        <h2>Οδηγοί - Διαταγή Πορείας</h2>
        <form action="http://46.227.62.47/odigoi">
    <input type="image" src="{{ url_for('static', filename='images/odigosimg.jpg') }}" style="width: 150px;"/>
    <br></form>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <h2>Ηλεκτροφωτισμός</h2>
  <form action="http://46.227.62.47/">
    <input type="image" src="{{ url_for ('static', filename= 'images/vlaves.jpg') }}" style="width: 150px;"/><br/>




</html>

